@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

@keyframes loading {
  0% {
    transform: translateX(-120%);
  }

  100% {
    transform: translateX(350%);
  }
}